ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --primary-text-color: #757575;
  --heading-main-color: #212121;
  --accent: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-main-color);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-header {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.center {
  text-align: center;
}

/* header  */

.header {
  border-bottom: 1px solid #ececec;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-site {
  display: flex;
}

.logo-box {
  display: inline-block;
  margin-right: 93px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-header {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.site-list:not(:last-child) {
  margin-right: 50px;
}

.site-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heading-main-color);
}

.site-list :hover,
.site-list :focus {
  color: var(--accent);
}

.site-link.current {
  color: var(--accent);
}

.header-contact {
  display: flex;
  align-items: center;
}

.contact-list :hover,
.contact-list :focus {
  color: var(--accent);
}

.contact-list:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* main  */

/* hero */
.hero {
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}

/* advantage */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-scroll {
  display: flex;
}

.advantage-list {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.advantage-list:nth-child(4n) {
  margin-right: 0;
}

.advantage-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--heading-main-color);
}

.advantage-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* work */

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--heading-main-color);
}

.work-scroll {
  display: flex;
}

.work-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.work-list:nth-child(3n) {
  margin-right: 0;
}

.worl-link {
  display: block;
}

/* team  */

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--heading-main-color);
}

.team-scroll {
  display: flex;
}

.taem-list {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.taem-list:nth-child(4n) {
  margin-right: 0;
}

.team-photo {
  display: block;
  margin-bottom: 30px;
}

.team-persom {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--heading-main-color);
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* footer  */

.footer {
  background: #2f303a;
}

.address-location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-location:hover,
.address-location:focus {
  color: var(--accent);
}

.address-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-contact:hover,
.address-contact:focus {
  color: var(--accent);
}

/* portfolio */

.portfolio-nav {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio-filtr:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--heading-main-color);
  background: #f5f4fa;
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background: var(--accent);
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item {
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading-main-color);
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
